* {
  margin: 0;
  padding: 0;
}

/* Shared related styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  border: none;
  padding: 20px 43px;
}

/* Navbar Section */

nav {
  background-color: #e55473;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 20px 240px;
}

nav > ul > li > a {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

nav li {
  list-style: none;
}

nav li :hover {
  color: lightgray;
}
.dropdown {
  margin-top: 21px;
  display: none;
  position: absolute;
  background-color: lightgray;
  padding-left: 10px;
  font-size: 24px;
  width: 250px;
  line-height: 1.5;
}

nav li:hover .dropdown {
  display: block;
}
/* Banner Section Styles */

.banner {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text {
  margin-left: 240px;
}

.banner-heading {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0;
}

.btn {
  margin-bottom: 165px;
}

.banner-photo {
  width: 635px;
  height: 800px;
  padding: 50px 240px 0 0;
}

/* Feature Section Styles */

.features {
  margin: 0 240px;
}

.feature-heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin: 175px 0 24px;
}

.feature-description {
  margin: 0 auto 48px;
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

.feature-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* Feature Image-1 */

.feature-photo-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-bottom: 32px;
}

.picture-1 {
  padding: 110px 0 76px;
  width: 310px;
  height: 428px;
}

/* Feature Image-2 */

.feature-photo-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-bottom: 32px;
}

.picture-2 {
  padding: 117px 47px 50px;
  width: 370px;
  height: 370px;
}

/* Feature Image-3 */

.feature-photo-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  margin-bottom: 32px;
}

.picture-3 {
  padding: 67px 0 75px;
  width: 314px;
  height: 471px;
}

.feature-details a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* Delivery Section Styles */

.delivery {
  display: flex;
  justify-content: space-evenly;
  margin: 128px 240px;
  text-align: center;
}

.delivery-img {
  width: 88px;
  height: 88px;
  margin-bottom: 24px;
}

/* Hot Deal Section Styles */

.hot-deal {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  align-items: center;
  justify-content: space-between;
}

.hot-deal-header {
  margin: 230px 0 24px 423px;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.off {
  color: #e55473;
}

.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-left: 395px;
  width: 594px;
}

.btn-2 {
  margin: 32px 0 162px 603px;
}

.hot-deal-photo {
  width: 318px;
  height: 420px;
  margin: 100px 429px 100px 0;
}

/* Instagram Section Styles */

.insta-header {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin: 128px 0 24px;
}

.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.insta-gallery-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 128px;
}

.gallery-photo {
  margin-right: 24px;
}

/* Latest Deals Section Styles */

.latest-deals {
  background: url("../flower asset/Rectangle\ 9.png") no-repeat;
  background-position: center;
  margin: 0 240px 128px;
}

.latest-deals-header {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
  padding-bottom: 16px;
}

.coupon {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.email-section {
  text-align: center;
  padding: 48px 287px 121px;
}

#email {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 64px;
  border: none;
  padding-left: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-3 {
  padding: 25px 40px;
  margin-left: 16px;
}

/* Footer Section Styles */

footer {
  background: #111010;
  text-align: center;
}

.footer-header {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
  padding: 128px 0 24px;
}

.shop {
  color: white;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  width: 625px;
  margin: 0 auto;
}

.copy-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding: 32px 0 128px;
}
